<div class="entry-form">
    @if (ready()) {
        <div class="entry-container">
            <app-design-sidebar
                    [design]="design() ?? undefined"
                    [variant]="selectedVariant() ?? undefined"
            />

            <div class="form-wrapper">
                <h1 class="form-title">{{ title() }}</h1>
                <form [formGroup]="form" (ngSubmit)="submit()">
                    <div class="form-fields">
                        @for (field of allFields(); track field.key) {
                            <app-field-renderer
                                    [field]="field"
                                    [form]="form"
                                    [showErrors]="showErrors"
                            />
                        }
                    </div>
                    <div class="form-footer">
                        <div class="btn-wrapper">
                            <button type="submit" class="btn-tiffany" [disabled]="form.invalid">
                                Add to Order
                                <div class="icon">
                                    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 0h24v24H0V0z" fill="none"/>
                                        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6-6-6z"/>
                                    </svg>
                                </div>
                            </button>
                        </div>
                    </div>
                </form>

                <div class="future-content">
                    <!-- Future: social feed, inspiration panel, etc -->
                </div>
            </div>
        </div>
    } @else {
        <p class="form-loading">Loading your fields...</p>
    }
</div>