@use '../theme' as *;
@use '../utilities' as *;

.card {
  background-color: $color-bg;
  border-radius: $radius-md;
  box-shadow: $shadow-md;
  padding: $space-md;
  color: $color-text;

  &-header {
    font-weight: $font-weight-bold;
    font-size: $font-size-lg;
    margin-bottom: $space-sm;
  }

  &-body {
    font-size: $font-size-sm;
    color: $color-muted;
  }

  &-image {
    border-radius: $radius-sm;
    margin-bottom: $space-sm;
  }
}
