@use '../theme' as *;
@use '../utilities' as *;

.swatch {
  width: $space-md;
  height: $space-md;
  display: inline-block;
  border: 1px solid $color-gray-300;
  border-radius: $radius-sm;
}

.price-pill {
  background: $color-gray-100;
  color: $color-gray-700;
  font-size: $font-sm;
  padding: $space-xs $space-sm;
  border-radius: $radius-md;
  display: inline-block;
}
