/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background: #FAF9F6;
    color: #333333;
  }
  h1, h2 { font-family: 'Lora', serif; }