@switch (field.type) {
    @case ('text') {
        <label>
            {{ field.label }}
            @if (field.required) {
                <span class="required-asterisk" aria-hidden="true">*</span>
            }
            <input type="text" [formControl]="control" [placeholder]="field.placeholder" />
        </label>
    }

    @case ('textarea') {
        <label>
            {{ field.label }}
            @if (field.required) {
                <span class="required-asterisk" aria-hidden="true">*</span>
            }
            <textarea [formControl]="control" [placeholder]="field.placeholder"></textarea>
        </label>
    }

    @case ('dropdown') {
        <label>
            {{ field.label }}
            <select
                    [formControl]="control"
                    [attr.multiple]="field.multiselect ? true : null"
                    [attr.readonly]="field.readonly ? true : null"
            >
                @for (opt of field.options ?? []; track opt.value) {
                    <option [value]="opt.value">{{ opt.label }}</option>
                }
            </select>
        </label>
    }

    @case ('radio') {
        <fieldset>
            <legend>
                {{ field.label }}
                @if (field.required) {
                    <span class="required-asterisk" aria-hidden="true">*</span>
                }
            </legend>
            @for (opt of field.options ?? []; track opt.value) {
                <label>
                    <input type="radio" [value]="opt.value" [formControl]="control" />
                    {{ opt.label }}
                </label>
            }
        </fieldset>
    }

    @case ('file') {
        <label>
            {{ field.label }}
            @if (field.required) {
                <span class="required-asterisk" aria-hidden="true">*</span>
            }
            <input type="file" (change)="handleFile($event)" />
        </label>
    }

    @case ('hidden') {
        <input type="hidden" [formControl]="control" />
    }

    @case ('color') {
        <fieldset class="color-fieldset">
            <legend>
                {{ field.label }}
                @if (field.required) {
                    <span class="required-asterisk" aria-hidden="true">*</span>
                }
            </legend>
            <div class="color-swatch-list">
                @for (opt of field.options ?? []; track opt.value) {
                    <label class="color-swatch" [style.background-color]="opt.value">
                        <input
                                type="radio"
                                [value]="opt.value"
                                [formControl]="control"
                        />
                    </label>
                }
            </div>
        </fieldset>
    }

}
