@if (ready) {
    <ng-container [formGroup]="form">
        @switch (field.type) {
            @case ('text') {
                <div class="form-group" [class.has-error]="showErrors(field.key)">
                    <label>
                        {{ field.label }}
                        @if (field.required) {
                            <span class="required-asterisk" aria-hidden="true">*</span>
                            <span class="required-tooltip" tabindex="0" aria-label="This field is required for your custom design.">?</span>
                        }
                        @if (showErrors(field.key)) {
                            <span class="required-tag">Required</span>
                        }
                    </label>
                    <input
                            type="text"
                            [formControlName]="field.key"
                            [placeholder]="field.placeholder"
                            [readonly]="field.readonly ?? null"
                    />
                </div>
            }

            @case ('textarea') {
                <div class="form-group" [class.has-error]="showErrors(field.key)">
                    <label>
                        {{ field.label }}
                        @if (field.required) {
                            <span class="required-asterisk" aria-hidden="true">*</span>
                            <span class="required-tooltip" tabindex="0" aria-label="This field is required for your custom design.">?</span>
                        }
                        @if (showErrors(field.key)) {
                            <span class="required-tag">Required</span>
                        }
                    </label>
                    <textarea
                            [formControlName]="field.key"
                            [placeholder]="field.placeholder"
                            [readonly]="field.readonly ?? null"
                    ></textarea>
                </div>
            }

            @case ('dropdown') {
                <div class="form-group" [class.has-error]="showErrors(field.key)">
                    <label>
                        {{ field.label }}
                        @if (field.required) {
                            <span class="required-asterisk" aria-hidden="true">*</span>
                            <span class="required-tooltip" tabindex="0" aria-label="This field is required for your custom design.">?</span>
                        }
                        @if (showErrors(field.key)) {
                            <span class="required-tag">Required</span>
                        }
                    </label>
                    <select
                            [formControlName]="field.key"
                            [attr.multiple]="field.multiselect ? true : null"
                            [attr.readonly]="field.readonly ? true : null"
                    >
                        @for (opt of field.options ?? []; track opt.value) {
                            <option [value]="opt.value">{{ opt.label }}</option>
                        }
                    </select>
                </div>
            }

            @case ('radio') {
                <fieldset class="form-group radio-group">
                    <legend>
                        {{ field.label }}
                        @if (field.required) {
                            <span class="required-asterisk" aria-hidden="true">*</span>
                            <span class="required-tooltip" tabindex="0" aria-label="This field is required for your custom design.">?</span>
                        }
                    </legend>
                    @for (opt of field.options ?? []; track opt.value) {
                        <label class="radio-option">
                            <input type="radio" [value]="opt.value" [formControlName]="field.key" />
                            {{ opt.label }}
                        </label>
                    }
                </fieldset>
            }

            @case ('color') {
                <fieldset class="form-group color-fieldset">
                    <legend>
                        {{ field.label }}
                        @if (field.required) {
                            <span class="required-asterisk" aria-hidden="true">*</span>
                            <span class="required-tooltip" tabindex="0" aria-label="This field is required for your custom design.">?</span>
                        }
                    </legend>
                    <div class="color-swatch-list">
                        @for (opt of field.options ?? []; track opt.value) {
                            <label
                                    class="color-swatch"
                                    [style.background-color]="opt.value"
                                    [title]="opt.label"
                            >
                                <input
                                        type="radio"
                                        [value]="opt.value"
                                        [formControlName]="field.key"
                                        [attr.aria-label]="opt.label"
                                />
                            </label>
                        }
                    </div>
                </fieldset>
            }

            @case ('file') {
                <div class="form-group">
                    <label>
                        {{ field.label }}
                        @if (field.required) {
                            <span class="required-asterisk" aria-hidden="true">*</span>
                            <span class="required-tooltip" tabindex="0" aria-label="This field is required for your custom design.">?</span>
                        }
                    </label>
                    <input type="file" (change)="handleFile($event)" />
                </div>
            }

            @case ('hidden') {
                <input type="hidden" [formControlName]="field.key" />
            }
        }
    </ng-container>
}
