@switch (field.type) {
    @case ('text') {
        <label>
            {{ field.label }}
            <input type="text" [formControl]="control" [placeholder]="field.placeholder" />
        </label>
    }

    @case ('textarea') {
        <label>
            {{ field.label }}
            <textarea [formControl]="control" [placeholder]="field.placeholder"></textarea>
        </label>
    }

    @case ('dropdown') {
        <label>
            {{ field.label }}
            <select [formControl]="control">
                @for (opt of field.options ?? []; track opt.value) {
                    <option [value]="opt.value">{{ opt.label }}</option>
                }
            </select>
        </label>
    }

    @case ('radio') {
        <fieldset>
            <legend>{{ field.label }}</legend>
            @for (opt of field.options ?? []; track opt.value) {
                <label>
                    <input type="radio" [value]="opt.value" [formControl]="control" />
                    {{ opt.label }}
                </label>
            }
        </fieldset>
    }

    @case ('file') {
        <label>
            {{ field.label }}
            <input type="file" (change)="handleFile($event)" />
        </label>
    }

    @case ('hidden') {
        <input type="hidden" [formControl]="control" />
    }
}
