<form [formGroup]="form" novalidate>
    <ng-container *ngFor="let field of variant?.fields ?? design?.fields ?? []">
        <div class="form-group" *ngIf="field.type !== 'hidden'">
            <label *ngIf="field.label">
                {{ field.label }}
                <span *ngIf="field.required">*</span>
            </label>

            <input
                    *ngIf="field.type === 'text'"
                    type="text"
                    [formControlName]="field.name"
                    [placeholder]="field.placeholder" />

            <textarea
                    *ngIf="field.type === 'textarea'"
                    [formControlName]="field.name"
                    [placeholder]="field.placeholder">
      </textarea>

            <select
                    *ngIf="field.type === 'dropdown'"
                    [formControlName]="field.name">
                <option *ngFor="let option of field.options" [value]="option">{{ option }}</option>
            </select>

            <div *ngIf="field.type === 'radio'">
                <label *ngFor="let option of field.options">
                    <input
                            type="radio"
                            [value]="option"
                            [formControlName]="field.name" />
                    {{ option }}
                </label>
            </div>

            <div *ngIf="field.type === 'multiselect'">
                <label *ngFor="let option of field.options">
                    <input
                            type="checkbox"
                            [value]="option"
                            (change)="onMultiSelectChange($event, field.name)"
                            [checked]="form.get(field.name)?.value?.includes && form.get(field.name)?.value.includes(option)" />
                    {{ option }}
                </label>
            </div>


            <div *ngIf="field.type === 'file'">
                <input type="file" (change)="onFileChange($event, field.name)" />
                <div *ngIf="imagePreviews[field.name]" class="image-preview">
                    <img [src]="imagePreviews[field.name]" alt="Preview" />
                </div>
            </div>
        </div>
    </ng-container>
</form>
