:root {
    --color-primary: #0ABAB5;
    --color-secondary: #FAF9F6;
    --color-dark: #333333;
    --color-accent: #7A7A7A;

    --font-body: 'Open Sans', sans-serif;
    --font-heading: 'Lora', serif;

    --spacing-md: 1.5rem;
    --spacing-lg: 3rem;
}
